{% extends 'base.html.twig' %}

{% block title %}Haie {{haie.code}} - LePtitJardinier{% endblock %}

{% block content %}
<div class="container ms-5 mt-5">
    <h1>Haie {{haie.code}}</h1>

    <table class="table w-25 ms-5">
        <tbody>
            <tr>
                <th>Code</th>
                <td>{{ haie.code }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ haie.nom }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ haie.prix }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-inline-flex mb-2">
        <a
          class="btn btn-outline-primary me-3"
          href="{{ path('haie_edit', { code: haie.code }) }}"
          style="padding-top: 12px"
          >Modifier</a
        >
        {{ include("haie/_delete_form.html.twig") }}<br />
    </div><br>
    <a href="{{ path('haie_index') }}"
          >Retourner à la liste de haies</a
        >
      </div>
    </div>
</div>
    
{% endblock %}
